name: Build

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:
  build:
    name: build on node@${{ matrix.node-version }}
    runs-on: blacksmith-4vcpu-ubuntu-2404

    strategy:
      matrix:
        node-version:
          - 22
          - 24

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run -r build
      - run: pnpm run -r check
